<script type="text/javascript">
      window.splashImage = "<%= image_url("splash_image.jpg") %>"
      window.logo = "<%= image_url("icon.png") %>"
      window.defaultUserIcon = "<%= image_url("default_user_icon.png") %>"

</script>

<% if logged_in? %>

      <script type="text/javascript">
            window.currentUser = <%= render(
                  "api/users/user.json.jbuilder",
                  user: current_user
            ).html_safe %>
      </script>
<% end %>


<main id="root">

</main>