
.friends-container {
    width: 851px;
    background: #F5F6F7;
    margin-top: 10px;
    /* padding-top: 16px; */
}

.friends-container-header {
    width: 850px;
    height: 84px;
    padding: 15px;
    box-sizing: border-box;
}

.friends-header-icon {
    font-size: 24px;
    color: gray;
}

.friends-label {
    font-size: 20px;
    font-weight: 700;
}

.friends-header-options {
    padding-top: 8px;
    height: 31px;
    line-height: 31px;
    vertical-align: center;
    font-size: 13px;
    font-weight: 600;
    color: #4b4f56;
}