.intro-bio-icon {
    background-image: image-url("side-icons.png");
    background-size: 27px 1030px;
    width: 20px;
    height: 20px;
    background-position: 0 -172px;

}

.intro-icon {
    background-image: image-url("icons.png");
    width: 24px;
    height: 24px;
    background-position: 0 -58px;
    background-size: 33px 315px;
}

.photos-icon {
    background-image: image-url("icons.png");
    background-size: 33px 315px;
    width: 24px;
    height: 24px;
    background-position: 0 -33px;

}

.star-icon {

    background-image: image-url("side-icons.png");
    background-size: 27px 1030px;
    width: 24px;
    height: 24px;
    background-position: 0 -47px;
}

.school-icon {
    display: inline-block;
    margin-right: 8px;
    background-image: image-url("side-icons.png");
    background-size: 27px 1030px;
    width: 16px;
    height: 16px;
    background-position: 0 -527px;
}

.city-icon {
    display: inline-block;
    margin-right: 8px;
    background-image: image-url("side-icons.png");
    background-size: 27px 1030px;
    width: 16px;
    height: 16px;
    background-position: 0 -408px;
}

.workplace-icon {
    display: inline-block;
    margin-right: 8px;
    background-image: image-url("side-icons.png");
    background-size: 27px 1030px;
    width: 16px;
    height: 16px;
    background-position: 0 -340px;
}

.relationship-icon {
    display: inline-block;
    margin-right: 8px;
    background-image: image-url("side-icons.png");
    background-size: 27px 1030px;
    width: 16px;
    height: 16px;
    background-position: 0 -578px;
}

.camera-icon {
    width: 26px;
    height: 21px;
    background-image: image-url("side-icons.png");
    background-size: 27px 1030px;
    background-position: 0 0;
}

// .comment-edit-icon {
//     width: 12px;
//     height: 12px;
//     background-image: image-url("emojis.png");
//     background-position-x: -83px;
//     background-position-y: -1120px;
//     background-size: 97px 1200px;
//     display: inline-block;
//     margin-left: 5px; 
// }

.newsfeed-icon {
    background-image: image-url("more-icons.png");
    width: 20px;
    height: 20px;
    background-position-x: 0px;
    background-position-y: -711px;
    background-size: 37px 1608px;
}

.like-option {
    background-image: image-url("like_options.gif");
    background-position-x: -26px;
    background-position-y: center;
    background-size: 280px 60px;
}

.love-option {
    background-image: image-url("like_options.gif");
    background-position-x: -64px;
    background-position-y: center;
    background-size: 280px 55px;
}

.haha-option {
    background-image: image-url("like_options.gif");
    background-position-x: -140px;
    background-position-y: center;
    background-size: 280px 55px;
}

.wow-option {
    background-image: image-url("like_options.gif");

    background-position-x: -102px;
    background-position-y: center;
    background-size: 280px 55px;
}

.sad-option {
    background-image: image-url("like_options.gif");
    background-position-x: -178px;
    background-position-y: center;
    background-size: 280px 55px;
}

.angry-option {
    background-image: image-url("like_options.gif");
    background-position-x: -216px;
    background-position-y: center;
    background-size: 280px 55px;
}


.liked-love {
    width: 18px;
    height: 18px;
    background-image: image-url("emojis.png");
    background-repeat: no-repeat;
    background-size: 97px 1406px;
    background-position: -57px -1302px;
    margin-right: 5px;
}

.liked-haha {
    width: 18px;
    height: 18px;
    background-image: image-url("emojis.png");
    background-repeat: no-repeat;
    background-size: 97px 1406px;
    background-position: -19px -1302px;
    margin-right: 5px;
}

.liked-wow {
    width: 18px;
    height: 18px;
    background-image: image-url("emojis.png");
    background-repeat: no-repeat;
    background-size: 97px 1406px;
    background-position: -19px -1321px;
    margin-right: 5px;
}

.liked-sad {
    width: 18px;
    height: 18px;
    background-image: image-url("emojis.png");
    background-repeat: no-repeat;
    background-size: 97px 1406px;
    background-position: -76px -1302px;
    margin-right: 5px;
}

.liked-angry {
    width: 18px;
    height: 18px;
    background-image: image-url("emojis.png");
    background-repeat: no-repeat;
    background-size: 97px 1406px;
    background-position: -76px -1283px;
    margin-right: 5px;
}

.liked-like {
    width: 18px;
    height: 18px;
    background-image: image-url("emojis.png");
    background-repeat: no-repeat;
    background-size: 97px 1406px;
    background-position: -38px -1302px;
    margin-right: 5px;
}


