.create-post-form {
    width: 514px;
    border: 1px solid #dddfe2;
    position: relative;
    background: white;
}

.create-post-header {
    height: 33px;
    background-color: #f5f6f7;
    padding: 8px 24px 8px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #dddfe2;
}

.post-header-option {
    padding: 4px 6px 4px 4px
}

.create-post-body {
    padding: 0;
    display: flex;
    align-items: flex-start
}

.create-post-icon {
    width: 40px;
    height: 40px;
    /* left: 10px;
    top: -15px; */
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 10px;
}



.create-post-footer {
    height: 49px !important;
    border-top: 1px solid #dddfe2;
    margin-top: 12px;
    padding: 8px 0;
    padding-left: 10px;
    box-sizing: border-box;
}

.post-body-input {
    width: 462px;
    border: none;
    padding: 23px 48px 13px 12px;
    outline: none;
    resize: none;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 18px;
    min-height: 71px;
}

.create-post-btn {
    display: block;
    height: 28px;
    color: white;
    background-color: #4267b2;
    width: 504px;
    font-weight: 700;
    margin: 10px 5px;
}

.post-footer-option {
    display: inline-block;
    width: 118px;
    height: 32px;
    color: #4b4f56;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
    background: #f5f6f7;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 32px;
    vertical-align: center;
    text-align: center;
}

.feeling-activity-option {
    width: 138px;
}

.on-top {
    z-index: 15;
}

.post-file {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.post-photo-preview-container {
    display: flex;
    margin-top: 5px;
}

.post-photo-preview {
    width: 100%;
    height: 100%;
}

.more-post-file-container {
    width: 100px;
    height: 100px;
    border: 1px dashed #dddfe2;
    cursor: pointer;
}

.add-photo-sign {
    display: block;
    text-align: center;
    line-height: 100px;
    vertical-align: center;
}

.photo-attached {
    background: #9cf196;
}

.preview-photo-container {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 10px;
}

.fa-times {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.tag-friends,
.add-feeling {
    height: 32px;
    width: 490px;
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #ccc;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.tag-friends-label,
.add-feeling-label {
    background: #e2e8f6;
    padding: 8px 6px 6px 8px;
    font-size: 11px;
    font-weight: 700;
    box-sizing: border-box;
}

.tag-friends-input,
.add-feeling-option {
    width: 443px;
    outline: none;
    border: none;
    padding: 8px 10px;
}

.add-feeling-option {
    cursor: pointer;
}

.tag-search-results {
    position: absolute;
    top: 25px;
    left: 50px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    background-color: white;
}

.tag-result-item {
    padding: 4px 6px;
    box-sizing: border-box;
    font-size: 11px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.tag-result-item-photo {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.tag-result-item:hover {
    cursor: pointer;
    background-color: #4267b2;
    color: white;
}


.tagged-friend {
    background-color: #e9ebee;
    border: 1px solid #9cb4d8;
    border-radius: 2px;
    color: #162643;
    margin: 0 2px 2px 0;
    padding: 0 18px 0 3px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: 18px;
    font-size: 11px;
}

.tagged-friend-container {
    padding: 4px 12px;
    margin: 0 auto;
}

.unselect-tagged {
    position: absolute;
    right: 2px;
    top: 3px;
    font-size: 11px;
    color: #ccc;
}

.with-tagged-friend {
    font-size: 11px;
}

.with-tagged-friend-item {
    color: #4267b2;
}

.with-tagged-friend-item:hover {
    cursor: pointer;
    color: #4267b2;
    text-decoration: underline;
}

.with-tagged-friend-item:visited {
    color: #4267b2;
}

.post-tagged-friends {
    font-size: 11px;
}

.feeling-options-container {
    position: absolute;
    background: white;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    width: 430px;
    border-radius: 5px;
    left: 0px;
    top: 30px;
    box-sizing: border-box;
}

.add-feeling-option {
    position: relative;
    font-weight: 700;
}

.feeling-option {
    display: flex;
    padding: 4px 12px;
    align-items: center;
    font-weight: 700;
}

.feeling-option:hover {
        cursor: pointer;
        background-color: #4267b2;
        color: white;
}

.selected-feeling {
    display: flex;
    padding: 4px 12px;
}

.post-selected-feeling {
    display: inline-flex;
        color: #616770;
}