.create-post-form {
    width: 514px;
    border: 1px solid #dddfe2;
    position: relative;
    background: white;
}

/* .create-post-btn-div {} */

.create-post-header {
    height: 33px;
    background-color: #f5f6f7;
    padding: 8px 24px 8px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #dddfe2;
}

.post-header-option {
    padding: 4px 6px 4px 4px
}

/* .modal-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 10;
} */



.create-post-body {
    padding: 0;
    display: flex;
    align-items: flex-start
}

.create-post-icon {
    width: 40px;
    height: 40px;
    /* left: 10px;
    top: -15px; */
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 10px;
}



.create-post-footer {
    height: 49px !important;
    border-top: 1px solid #dddfe2;
    margin-top: 12px;
    padding: 8px 0;
    padding-left: 10px;
    box-sizing: border-box;
}

.post-body-input {
    width: 462px;
    border: none;
    padding: 23px 48px 13px 12px;
    outline: none;
    resize: none;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 18px;
    min-height: 71px;
}

.create-post-btn {
    display: block;
    height: 28px;
    color: white;
    background-color: #4267b2;
     width: 504px;
    font-weight: 700;
    margin: 10px 5px;
}

.post-footer-option {
    display: inline-block;
    width: 118px;
    height: 32px;
    color: #4b4f56;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
    background: #f5f6f7;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 32px;
    vertical-align: center;
    text-align: center;
}

.feeling-activity-option {
    width: 138px;
}

.on-top {
    z-index: 15;
}

.post-file {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.post-photo-preview-container {
    display: flex;
}

.post-photo-preview {
    width: 100%;
    height: 100%;

}

.more-post-file-container {
    width: 100px;
    height: 100px;
    border: 1px dashed #dddfe2;
    cursor: pointer;
}

.add-photo-sign {
    display: block;
    text-align: center;
    line-height: 100px;
    vertical-align: center;
}

.photo-attached {
    background: #9cf196;
}

.preview-photo-container {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 10px;
}

.fa-times {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}