.user-post {
    width: 100%;
    /* background: red; */
    border: 1px solid #ccd0d5;
    padding: 12px 12px 0;
    box-sizing: border-box;
    margin: 10px 0 0;
    position: relative;
    background: white;
}

.post-container {
    width: 514px;
}

.post-header {
    display: flex;
    height: 46px;
    /* background: blue; */
    overflow: hidden;
}

.poster-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    /* left: 10px;
    top: -15px; */
    border-radius: 50%;
    /* margin-top: 20px;
    margin-left: 10px; */
    position: relative;
    /* padding: 0 0 3px; */
}

.commenter-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
}

.post-info {
    display: inline-block;
    width: 442px;
    height: 46px;
    padding: 0 0 6px;
    box-sizing: border-box;
    margin-left: 10px;
}

.poster-name {
    font-size: 14px;
}

.post-body {
    margin: 6px 0;
    min-width: 18px;
    font-size: 14px;
    line-height: 1.38;
    word-wrap: break-word
}

.post-footer {
    height: 42px;
    width: 100%;
    border-left: 1px solid #ccd0d5;
    border-bottom: 1px solid #ccd0d5;
    border-right: 1px solid #ccd0d5;
    box-sizing: border-box;
    padding: 0 10px;
    background: white;

}

.post-comment,
.post-share,
.post-like {
    display: inline-block;
    width: 159.73px;
    text-align: center;
    padding: 5px 0;
    box-sizing: border-box;
    color: #1c1e21;
    font-size: 13px;
    height: 30px;
    margin: 5px 0;
    position: relative;
}

.like-options {
    position: absolute;
    border-radius: 25px;
    width: 250px;
    height: 50px;
    background: white;
    border: 1px solid black;
    top: -60px;
    left: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}


.like-options div {
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.post-comment:hover,
.post-share:hover,
.post-like:hover {
    cursor: pointer;
    background-color: lightgray;
}

.fa-thumbs-up {
    font-size: 18px;
}

.fa-comment-alt {
    font-size: 18px;
}


.post-comment-form {
    width: 100%;
    box-sizing: border-box;
    border-left: 1px solid #ccd0d5;
    border-bottom: 1px solid #ccd0d5;
    border-right: 1px solid #ccd0d5;
    padding: 8px 12px;
    display: flex;
    align-items: flex-start;
    background: white;
}

.comment-input-container {
    display: inline-block;
    width: 452px;
    margin-left: 8px;
}

.comment-input {
    border: 1px solid #ccd0d5;
    border-radius: 20px;
    width: 100%;
    min-height: 36px;
    outline: none;
    resize: none;
    width: 95%;
    min-height: 16px;
    padding: 8px 10px;
    font-size: 14px;
    box-sizing: border-box;
}

.user-comment {
    width: 490px;
    min-height: 53px;
    border: 1px solid white;
    display: flex;
}

.comments-container {
    padding: 8px 12px 4px;
    border-left: 1px solid #ccd0d5;
    border-bottom: 1px solid #ccd0d5;
    border-right: 1px solid #ccd0d5;
    background: white;
}

.comment-body {
    display: inline-block;
    padding: 8px 10px;
    max-width: 390px;
    min-height: 32px;
    box-sizing: border-box;
    word-wrap: break-word;
    border-radius: 20px;
    background-color: #f2f6f5;
    margin-left: 5px;

}

.user-comment-container {
    margin: 5px;
}

.comment-reply-option,
.comment-like-option {
    height: 19px;
    cursor: pointer;
    margin-left: 10px;
    display: inline-block;
    color: #385898;
    font-size: 11px;
}

.comment-reply-option:hover,
.comment-like-option:hover {
    text-decoration: underline;
}

.replier-icon {
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 5px;
    margin-right: 5px;
    box-sizing: border-box;
}

.reply-input {
    border: none;
    outline: none;
    resize: none;
    width: 414px;
    min-height: 16px;
    /* height: 32px; */
    padding: 8px 10px;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #ccd0d5;
    border-radius: 20px;
}

.comment-reply {
    display: flex;
    align-items: flex-start;
}

.user-reply {
    width: 300px;
    display: flex;
}

.reply-body {
    display: inline-block;
    padding: 8px 10px;
    max-width: 352px;
    min-height: 32px;
    box-sizing: border-box;
    word-wrap: break-word;
    border-radius: 20px;
    background-color: #f2f6f5;
    margin-left: 5px;
}

.reply-body-container {
    width: 400px;
}

.post-time {
    font-size: 12px;
    color: gray;
}

.edit-post {
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;
    font-size: 16px;
    color: gray;
}

.delete-post {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 16px;
    color: gray;
}

.edit-post-container,
.edit-comment-container {
    width: 500px;
    background-color: white;
}

.edit-post-header,
.edit-comment-header {
    width: 100%;
    padding: 10px 12px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
    background-color: #f5f6f7;
    position: relative;
}

.edit-post-input-container,
.edit-comment-input-container {
    min-height: 107px;
    width: 100%;
    display: flex;
}

.edit-post-input,
.edit-comment-input {
    width: 448px;
    padding: 18px 48px 13px 12px;
    box-sizing: border-box;
    border: none;
    resize: none;
    font-size: 24px;
    outline: none;
}

.edit-poster-icon,
.edit-comment-icon {
    margin: 20px 0 0 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.edit-post-footer,
.edit-comment-footer {
    background-color: #f5f6f7;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.edit-post-save,
.edit-comment-save {
    width: 63px;
    height: 24px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #4267b2;
    cursor: pointer;
    line-height: 24px;
    vertical-align: center;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.edit-photo-cancel,
.edit-comment-cancel {
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.delete-comment,
.edit-comment {
    color: grey;
    margin-left: 5px;
    cursor: pointer;
}

.fa-caret-right {
    margin: 0 5px;
}


.user-name-link:hover {

    text-decoration: underline;
    color: #385898 !important;
    background-color: transparent !important;

}

.user-name-link {
    color: #385898 !important;
    cursor: pointer;
    margin-right: 5px !important;
    display: inline-block;
}

.posts-container-label {
    color: #606770;
    font-weight: 600;
    margin-top: 10px;
    font-size: 12px;
}

.liked {
    color: rgb(32, 120, 244)
}

.love {
    display: flex;
    justify-content: center;
    color: rgb(243, 62, 88);
    font-weight: 700;
}

.haha,
.wow,
.sad {
    display: flex;
    justify-content: center;
    color: rgb(247, 177, 37);
    font-weight: 700;
}

.angry {
    color: rgb(233, 113, 15);
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.post-likes {
    height: 18px;
    margin-bottom: 5px;
    display: flex;
}

.comment-like {
    position: relative;
    display: flex;
}

.comment-love {
    color: rgb(243, 62, 88);
    font-weight: 700;
    font-size: 11px;
    margin-left: 10px;
}

.comment-wow,
.comment-haha,
.comment-sad {
    color: rgb(247, 177, 37);
    font-weight: 700;
    font-size: 11px;
    margin-left: 10px;
}

.comment-angry {
    color: rgb(233, 113, 15);
    font-weight: 700;
    font-size: 11px;
    margin-left: 10px;
}

.liked-comment-like {
    color: rgb(32, 120, 244);
    font-weight: 700;
    font-size: 11px;
    margin-left: 10px;
}

.comment-likes {
    margin-left: 10px;
    display: flex;
}

.comment-options {
    display: flex;
}

.comment-wow:hover,
.comment-haha:hover,
.comment-sad:hover,
.comment-angry:hover,
.liked-comment-like:hover,
.comment-love:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post-photo {
    
}

.post-photos-container {
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0;
}

.post-photos-container img {
    border: 1px solid #ccc;
}