.profile {
    margin-left: 210px;
    width: 851px;
}

.profile-image-container {
    background-color: black;
    height: 200px;
    position: relative;


}

.cover-image-footer {
    position: absolute;
    bottom: 20px;
    left: 200px;
    width: 500px;
    display: flex;
    justify-content: space-between;

}

.profile-image {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid white;
    position: absolute;
    bottom: -30px;
    left: 20px;
}

.add-photo-semicircle {
    position: absolute;
    bottom: -30px;
    left: 20px;
    width: 168px;
    height: 80px;
    border-bottom-left-radius: 84px;
    border-bottom-right-radius: 84px;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background: black;
    box-sizing: border-box;
    opacity: 0.6;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}



.add-photo {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.add-photo-semicircle:hover {
    opacity: 1;
}


.profile-name {
    color: white;
    font-size: 24px;
    line-height: 24px;
    vertical-align: center;
}

.image-footer-button {
    width: 100px;
    height: 27px;
    box-sizing: border-box;
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, .4);
    margin: 12px;
}

.profile-nav-bar {
    height: 43px;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding-left: 201px;
    background: white;

}

.timeline-nav-link {
    border-right: 1px solid #e9eaed;
    border-left: 1px solid #e9eaed;
}

.profile-nav-bar span {
    height: 100%;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 13px 13px;
    box-sizing: border-box;
    cursor: pointer;
}

.profile-nav-bar span:not(:nth-child(1)) {
    border-right: 1px solid #e9eaed;
}

.sidebar-friends,
.sidebar-intro,
.sidebar-photos {
    width: 323px;
    min-height: 48px;

        border: 1px solid #dddfe2;
        background: white;
}

.profile-wall {
    display: inline-block;
}

.profile-main {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

a:hover {
    color: black !important;
    background: white !important
}

a {
    text-decoration: none;
}

.friend-button {
    height: 28px;
    line-height: 28px;
    vertical-align: center;
    padding: 0 10px;
    font-weight: 700px;
    border-color: rgba(0, 0, 0, .4);
    color: #4b4f56;
    background-color: #f5f6f7;
    right: 10px;
    cursor: pointer;
    outline: none;
    position: relative;
}

.friend-options-container {
    position: absolute;
    index: 1;
    left: 0;
    width: 180px;
    padding-top: 13px;
}

.friend-options {
    background: #4267b2;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    color: white;
}

.friend-options-container:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0px 7px 7px 7px;
    border-color: #4267b2 transparent;
    display: block;
    width: 0;
    z-index: 1;
    left: 9px;
    top: 7px;
}

 body {
     background-color: #e9ebee !important;
     z-index: -10;
 }
